---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GeometricCanvas from "@components/GeometricCanvas.astro";
import SimpleHero from "@components/SimpleHero.astro";
---
<BaseLayout title="cully wakelin (@flossypurse)" description="i vibe code with AI and get shit done">
  <GeometricCanvas />
  <main>
    <SimpleHero />
  </main>
</BaseLayout>
